form{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px;
    background-color:  rgba(128, 28, 28, 0.315);
    border-radius: 20px;
    position: relative;
    top: 30px;
    height: 70vh;
    padding: 50px;
    gap: 10px;
}

#username, #password, #email, #setpassword, #repeatpassword{
    font-size: larger;
    margin-top: 10px;
}

input, .login{
    height: auto;
    border-radius: 5px;
    border: solid;
}

.login{
    background-color: #801C1C;
    color: white;
    border: none;
    font-size: larger;
    cursor: pointer;
    position: relative;
    top: 5vh;
    height: 5vh;
    
}

form > div{
    font-size: larger;
    justify-self: center;
    margin-top: 50px;
}

form > div > a{
    position: relative;
    left: 20px;
    text-decoration: none;
   
}

