header{
    display: grid;
    background-color: rgb(128, 28, 28);
    color: white;
    padding-left: 20px;
    font-size: 25px;
}

.container{
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 600px;
    justify-content: center;
}





