.calendar{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 500px;
    align-items: center;
    position: relative;
    top: 19px;
}

p:nth-child(2){
    display: grid;
    justify-items: center;
    font-size: larger;
}

.react-calendar{
    
    font-size: larger;
    width: 500px
}

button{
    height: 7vh;
    font-size: 25px;
    
}

.logout{
    position: relative;
    top: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #801c1c;
    padding: 10px;
    width: 100px;
    color: white;
    border-radius: 50px;
    display: grid;
    justify-items: center;
}